<div class="container omdb-page">

  <h2 class="movie-info" id="movie-title" data-movie-title="<%= @movie.title %>"></h2>
  <h3><img src="http://image.tmdb.org/t/p/w300<%= @movie.poster_path %>"/></h3>
  <h6 class="movie-info" id="movie-description" data-movie-title="<%= @movie.title %>"></h6>
</div>
