<div class="container omdb-page">

  <h2 class="movie-info" id="movie-title" data-movie-title="<%= @movie.title %>"></h2>
  <img class="movie-info" id="movie-poster" data-movie-title="<%= @movie.title %>" src= >
  <h6 class="movie-info" id="movie-description" data-movie-title="<%= @movie.title %>"></h6>
</div>
