<div class="jumbotron">
  <h1>Bold Movies Recommended for You and Your Friends</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-4">
      <h2>Movie Night? Why Not:</h2>
  </div>
  </div>
  <div class="row movie_box">
  <div class="col-lg-2">
    <%= image_tag "search_for_spock.jpg" %>
    </div>
    <div class="col-lg-5 col-lg-offset-5">
      <h3>Star Trek III: Search for Spock</h3>
      <p>"Admiral Kirk and his bridge crew risk their careers stealing the decommissioned Enterprise to return to the restricted Genesis planet to recover Spock's body."</p>
    </div>
  </div>
  <div class="row">
  <hr>
    <div class="col-lg-6 col-lg-offset-4">
      <h2>Popular Sci-Fi Movies</h2>
    </div>
    <div class="col-lg-3 col-lg-offset-1 movie_box_single">
      <%= image_tag "2001.jpg" %>
    </div>
    <div class="col-lg-3 movie_box_single">
      <%= image_tag "back_to_the_future.jpg" %>
    </div>
    <div class="col-lg-3 movie_box_single">
      <%= image_tag "district9.jpg" %>
    </div>
  </div>
</div>