<div class="container search_field">
  <%= form_tag("/search", method: "get", remote: true) do %>
    <%= label_tag(:search_box, "Search for:") %>
    <%= text_field_tag(:search_box) %>
    <%= submit_tag "Search", id: "search_button", class: "btn blue-grey" %>
  <% end %>
  <div class="row">
    <p id="no-results"> </p>
      <ul id="searched_movies">
      </ul>
  </div>
</div>
